@model MVCProdutos.Models.Produto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnidadeDeMedida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadeDeMedida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorDeCusto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorDeCusto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MargemDeLucro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MargemDeLucro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorDeVenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorDeVenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDaInclusao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDaInclusao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDaAlteracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDaAlteracao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estoque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estoque)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProdutoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
